*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/.kotlin
/build
/captures
.externalNativeBuild
.cxx
local.properties
app/src/main/fontArchives/
app/src/main/busybox/
app/src/main/bash/

# Gradle buildSrc outputs
buildSrc/build/
